body {
    background: rgb(255, 167, 182);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    background: rgb(255, 192, 203);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-image: none;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(255, 192, 203);
    display: flex;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 255, 255) ridge;
    padding: 8px;
}

h2,
h3 {
    margin: 0px;
}