body {
  margin: 0px;
}

canvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMmxw2JF7gTlm_fN5BT95I2wLfXEHWjY1H8Q:https://static.planetminecraft.com/files/image/minecraft/texture-pack/2021/167/14054807_l.jpg&usqp=CAU");
  background-size: cover;
}

img {
  display: none;
}
